img {
    max-width: 120px;
    height: auto;
}

.dz-details {
    margin-top: 20px;
}

.dz-preview {
    text-align: center;
}

.select-button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    margin-bottom: 5px;
}

.select-button:hover {
    background-color: #4CAF50;
    color: white;
}