#greeting {
    padding-bottom: 20px;
}

#please-login {
    padding-bottom: 10px;
}

#sport4x4 {
    color: #93010B;
    font-weight: bold;
}

@media(min-width:992px) {
    #greeting {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #please-login {
        padding-bottom: 20px;
    }
}